:80 {
	handle_path /subconverter/* {
		reverse_proxy 127.0.0.1:25500
	}
	handle_path /subconfig-api/* {
		reverse_proxy 127.0.0.1:27880
	}
	root * /usr/share/caddy
	file_server
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
	}
}
